/* This is an example of how to import a partial scss file*/
@import "_variables";
@import "_reset";
@import "_mixins";
@import "_navbar";
@import "_login";

html{
  @include size(100%, 100%);
  font-family: 'Arvo', serif;
}

.hidden {
  display: none !important;
}

body {
  background: $primary-background;
}

.main{
  @include flexBox(center);
  margin-top: 7em;
}

#mainScreen {
  @include flexBox(space-evenly);
  flex-direction: row;
  overflow-y: auto;
}

#userInfo {
  @include flexBox(flex-start);
  flex-direction: column;
  align-items: center;
  margin-top: $emSpace;
  margin-right: $emSpace;
  overflow: auto;
}

#welcomePage{
  @include flexBox(flex-start);
  margin-left: 2em;
}

#roomsImg {
  @include size(25vh, 25vw);
}

table,
th,
td,
#roomDisplay {
  margin-top: $emSpace;
  border: 1px black;
  border-style: ridge;
  overflow: auto;
  // @include flexBox(center);
}

th,
td,
#roomDisplay {
  padding: .5em;
  background: $secondary-background;
  // @include flexBox(center);
}

#rooms,
#welcomePage {
  @include flexBox(flex-start);
  flex-direction: column;
  align-items: center;
}

#roomDisplay {
  @include flexBox(center);
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5em;
  @include size(12vh, 20vw);
}

#totalSpent {
  margin-top: $emSpace;
}

#checkIn,
#roomType,
.log-out-btn {
  background: $secondary-background;
}
