/* This is an example of how to import a partial scss file*/
@import "_variables";
@import "_reset";
@import "_mixins";
@import "_navbar";
@import "_login";
@import "initial-page";
@import "buttons";
@import "booking";

html{
  @include size(100%, 100%);
  font-family: 'Arvo', serif;
}

.hidden {
  display: none !important;
}

body {
  background: $primary-background;
}

.main{
  @include flexBox(center);
  margin-top: 7em;
}

#mainScreen {
  @include flexBox(space-evenly);
  flex-direction: row;
  @include size(80vh, 80vw);
  overflow: $scroll;
}

#error {
  color: red;
}